<div class="contact-container">
  <div class="page-content-element">
    <h1>Project Goal</h1>
    <p>The purpose of this application was to demonstrate My ability to use the methodology of working in Angular and
      knowledge of CSS (SCSS), the application retrieves data from a database and presents it in a pleasing way.</p>
    <span>Inspired by the website: <a id="lg" href="https://lowcygier.pl/" target="blank">Łowcy Gier</a>.</span>
    <h4>Created by: Mariusz Czapiewski</h4>
  </div>
</div>