<div class="info">
  <h2>Hero</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore rem impedit nesciunt dolorum molestias
    accusantium corrupti? Repudiandae similique modi sunt. Dolorem vero ipsam nobis placeat quos ullam perferendis
    obcaecati doloremque.
    Sint cupiditate ducimus molestiae perspiciatis amet laboriosam, dolorem eaque autem! Exercitationem soluta libero,
    rem architecto inventore incidunt quisquam at eligendi ducimus iste repellat itaque ipsa obcaecati ut optio
    accusamus aperiam!</p>
</div>