<app-page-info></app-page-info>
<div class="page-content-element" *ngFor="let post of posts">
  <img src="" alt="plakat gry" srcset="https://picsum.photos/200?random={{post.id}}">
  <div class=" page-content-text">
    <h2>{{post.title.charAt(0).toUpperCase() + post.title.slice(1)}}</h2>
    <span class="content-info">{{post.id}} HOURS AGO | 20 COMMENTS</span>
    <p>{{post.body.charAt(0).toUpperCase() + post.body.slice(1)}}. {{post.body.charAt(0).toUpperCase() +
      post.body.slice(1)}}. {{post.body.charAt(0).toUpperCase() + post.body.slice(1)}}.</p>
    <div>* <a class="content-link" href="" target="_blank" rel="noopener noreferrer">Link to a source</a> - informations
    </div>
    <p class="read-more-paragraph">
      <a class="read-more">Read more...</a>
    </p>
  </div>
</div>